body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/default_bg.webp') no-repeat center center fixed; 
    background-size: cover;
}

.countdown-container {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); /* Reduced opacity for better background visibility */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.twitter-feed-container {
    position:relative;
    width: 50%;
    right: 16%;
    top: 60%;
    box-shadow:slategray;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-width: 400px; /* Adjusts the width of the Twitter feed */
    margin: 20px auto; /* Centers the feed on the page with some margin */
}

canvas {
    width: 900px;
    height: 200px;
    display: block;
    position: relative;
    background: transparent;
    margin: 20px auto;
}
