body, html {
    height: 100%;
    margin: 0;
    background: url('https://www.voteh.ca/static/images/default_bg.webp') no-repeat center center fixed; 
    background-size: cover;
}

.countdown-container {
    width: 50%;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); /* Reduced opacity for better background visibility */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.countdown-text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #ffffff;
}

#countdown-timer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    display: block;
    margin: 20px auto;
}
